$mustard: #DEB73D;
$icy: #73fff1;
$seaWater: #44726F;
$sunlight: #EFDA51;
$steel: #cccac6;
$overcastSky: #96d0d8;
$foam: #F4FCE8;

$screen: rgba(0,0,0,.3);

$nephritis: #27ae60;
$mossySteel: #BDD2C7;
$blackMoss: #01160F;

$background: $nephritis;
$navbar: $mossySteel;
$darkAccent: $sunlight;
$textColor: $blackMoss;
$textColorSecondary: $foam;
$visitedLink: $steel;
$link: $overcastSky;
