header {
  background-color: $navbar;
  height: 15vh;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5em;
}

h1 {
  font-size: 600%;
}

.banner {
  width: 40%;
  margin: auto;
  display: flex;
  justify-content: center;
}

h2 {
  padding: 1vh;
  font-size: 250%;
  background-color: $screen;
  color: $textColorSecondary;
}

.right-tri {
  width: 0;
  height: 0;
  border-top: 60px solid $screen;
  border-right: 60px solid transparent;
}

.left-tri {
  width: 0;
  height: 0;
  border-top: 60px solid $screen;
  border-left: 60px solid transparent;
}

.logo {
  width: 14vh;
  height: 14vh;
  margin: 1vh;
}

.price-tiers {
  position: relative;
  width: 55%;
  display: flex;
  justify-content: space-between;
  margin: 10vh auto;
}

.tier-container {
  position: relative;
}

.tier {
  width: 30vh;
  height: 30vh;
}

h3 {
  text-decoration: underline;
  text-align: center;
  padding-bottom: 1vh;
  font-size: 200%;
}

.price-container{
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 5em;
  width: 5em;
  background-image: url(../img/starburst.svg);
  background-size: 5em;
  font-weight: bold;
}

.enroll {
  background-color: $navbar;
  height: 21vh;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5em;
}

.join-button {
  background-color: $nephritis;
  text-decoration: none;
  padding: 1vh;
  color: $blackMoss;
  min-width: 310px;
  margin: 3vh;
  font-size: 250%;
  text-align: center;
}
